# ========== Git ==========
.git/

# ========== Build Output ==========
outputs/

# ========== CMake ==========
cmake-build-debug/

# ========== IDE ==========
.idea/
.vscode/
*.iml

# ========== Logs ==========
*.log
